In [1]:
age=int(input("Enter your age:"))

if age<18:
 print('you are minor')
elif age ==18:
 print('you are just adult now')
else:
 print('you are already an adult')

Enter your age:26
you are already an adult

In [2]:
score= eval(input("enter your score:"))

if score >=90:
  grade = "A"
  print("your grade is ",grade)
elif score >=80:
  grade = "B"
  print("your grade is ",grade)
elif score >=70:
  grade = "C"
  print("your grade is ",grade)
elif score >=60:
  grade = "D"
  print("your grade is ",grade)
else:
  grade = "F"
  print("your grade is ",grade)

enter your score:85
your grade is  B

In [3]:
fruits= ["apple","banana","cherry"]

for index in fruits:
 print("I like", index)

I like apple
I like banana
I like cherry

In [4]:
numbers = [5,10,15,20,25]
sum=0
for index in numbers:
 sum+=index
print("the sum is", sum)

the sum is 75

In [5]:
count=1
while count<=5:
  print("the count is",count)
  count +=1

the count is 1
the count is 2
the count is 3
the count is 4
the count is 5

In [6]:
while True:
  print("Menu:")
  print("1.option 1")
  print("2.option 2")
  print("3.option 3")
  print("4. Quit 4")
  choice = int(input("Enter your choice:"))

  if choice ==1:
    print("you selected option 1")
  elif choice ==2:
    print("you selected option 2")
  elif choice ==3:
    print("you selected option 3")
  elif choice ==4:
    print("Goodbye")
    break
  else:
    print("invalid choice.please try again.")

Menu:
1.option 1
2.option 2
3.option 3
4. Quit 4
Enter your choice:4
Goodbye

In [7]:
import time
countdown = 5
print("counter started ")
while countdown >0:
  print(countdown)
  time.sleep(1)
  countdown -=1
print("countdown finished")

counter started
5
4
3
2
1
countdown finished

In [8]:
colors = ["red","green","blue"]
print("colors",colors)
colors.append("yellow")
print("colors",colors)

colors ['red', 'green', 'blue']
colors ['red', 'green', 'blue', 'yellow']

In [9]:
todo_list =[]

print("welcome to do list ")

while True:
  print("Options")
  print("1.Add task")
  print("2.View tasks")
  print("3.Quit")

  choice = input("Enter your choice:")

  if choice == "1":
    task = input("Enter a task:")
    todo_list.append(task)
    print("tasl added:")
  elif choice == "2":
    print("tasks:")
    for task in todo_list:
      print("- ",task)
  elif choice == "3":
    print("Goodbye")
    break
  else:
    print("invalid choice.please try again.")

welcome to do list
Options
1.Add task
2.View tasks
3.Quit
Enter your choice:5
invalid choice.please try again.
Options
1.Add task
2.View tasks
3.Quit
Enter your choice:2
tasks:
Options
1.Add task
2.View tasks
3.Quit
Enter your choice:3
Goodbye

In [10]:
person_info=("Alice",23)
print("person information:")
print("name:",person_info[0])
print("age:",person_info[1])

person information:
name: Alice
age: 23

In [11]:
student={
    "name":"Alice",
    "age":23,
    "major":"Computer Science"

}
student[grade]="A"
name=student["name"]
print("student",student)
print("student",name)

student {'name': 'Alice', 'age': 23, 'major': 'Computer Science', 'B': 'A'}
student Alice

In [12]:
student1 = {
    "name":"Alice",
    "age":23,
    "major":"Computer Science",
    "grade":"A"
}

student2  = {
    "name":"Bob",
    "age":22,
    "major":"Mathematics",
    "grade": "B"
    }
students =[student1,student2]

for student in students:
  print("student name:",student["name"])
  print("student age:",student["age"])
  print("student major:",student["major"])
  print("student grade:",student["grade"])
  print()

student name: Alice
student age: 23
student major: Computer Science
student grade: A

student name: Bob
student age: 22
student major: Mathematics
student grade: B